<h1 class="title is-1">Home</h1>

<div class="columns">
    <div class="column is-one-third">
        <div class="card rbn-margin-bottom">
            <header class="card-header">
                <p class="card-header-title">
                    Stats
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Restart Counter: <b>{{restartCounter}}</b></p>
                    <p>Last ping: <b>{{lastPing}}</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-two-thirds">
        <div class="card rbn-margin-bottom">
            <header class="card-header">
                <p class="card-header-title">
                    Log
                </p>
            </header>
            <div class="card-content is-paddingless">
                <div class="content">
                    <table class="table rbn-log is-marginless">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Context</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each log}}
                                <tr>
                                    <td>{{ date }}</td>
                                    <td>{{ context }}</td>
                                    <td class="rbn-log-cell-multiline">
                                        <pre>{{ message }}</pre>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
