<p>Last ping: <b>{{lastPing}}</b></p>

<table class="table rbn-log">
    <thead>
        <tr>
            <th>Date</th>
            <th>Context</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {{#each log}}
            <tr>
                <td>{{ date }}</td>
                <td>{{ context }}</td>
                <td class="rbn-log-cell-multiline">
                    <pre>{{ message }}</pre>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{#each plugins}}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ name }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <a>@bulmaio</a>. <a>#css</a> <a>#responsive</a>
                <br>
                <small>11:09 PM - 1 Jan 2016</small>
            </div>
        </div>
    </div>
{{/each}}
